pipeline/SC-GetProjectPullRequest.json
{
	"name": "SC-GetProjectPullRequest",
	"properties": {
		"activities": [
			{
				"name": "SC Projects Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADOPMDB_SCProjects",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Projects Foreach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SC Projects Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SC Projects Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Pull Request by project key",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://sonarcloud.io/api/project_pull_requests/list?project=',item().key)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": "Bearer 9a75b631163cd900c0f774ecd051400154a185c9"
								}
							}
						},
						{
							"name": "If project has pull request",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Pull Request by project key",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Get Pull Request by project key').output.pullRequests,[])\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Get Pull Request data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "GET",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "['key']"
														},
														"sink": {
															"name": "key"
														}
													},
													{
														"source": {
															"path": "['title']"
														},
														"sink": {
															"name": "title"
														}
													},
													{
														"source": {
															"path": "['branch']"
														},
														"sink": {
															"name": "branch"
														}
													},
													{
														"source": {
															"path": "['base']"
														},
														"sink": {
															"name": "base"
														}
													},
													{
														"source": {
															"path": "['status']['qualityGateStatus']"
														},
														"sink": {
															"name": "qualityGateStatus"
														}
													},
													{
														"source": {
															"path": "['status']['bugs']"
														},
														"sink": {
															"name": "bugs"
														}
													},
													{
														"source": {
															"path": "['status']['vulnerabilities']"
														},
														"sink": {
															"name": "vulnerabilities"
														}
													},
													{
														"source": {
															"path": "['status']['codeSmells']"
														},
														"sink": {
															"name": "codeSmells"
														}
													},
													{
														"source": {
															"path": "['analysisDate']"
														},
														"sink": {
															"name": "analysisDate"
														}
													},
													{
														"source": {
															"path": "['target']"
														},
														"sink": {
															"name": "target"
														}
													},
													{
														"source": {
															"path": "['commit']['sha']"
														},
														"sink": {
															"name": "sha"
														}
													}
												],
												"collectionReference": "$['pullRequests']"
											}
										},
										"inputs": [
											{
												"referenceName": "SCAPI_GetPullRequestByProjectKey",
												"type": "DatasetReference",
												"parameters": {
													"projectkey": {
														"value": "@item().key",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ADOPMDB_PullRequests",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Sonar Cloud"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-26T02:31:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}